.faq {
    .btn, .btn:active {
        background-color: #444 !important;
        border-color: #444 !important;
        border-radius: 0 !important;
        outline: none !important;
        box-shadow: none !important;
    }
    .card {
        background: #444;
        border-color: #444;
    }
}
